# Project
TUBEGRAPH_NETWORK=tubegraph-network

# Backend
BACKEND_PORT=8000                   
BACKEND_CONTAINER=tubegraph_backend

# Database
POSTGRES_CONTAINER=tubegraph_user
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_SERVER=db_or_dbaas_string
POSTGRES_PORT=5432                  
POSTGRES_DB=tubegraph_db
DB_VOLUME_PATH=/var/lib/postgresql/data             # only required in localhost and not in production

# Production Database
POSTGRES_CONTAINER=neondb_owner
POSTGRES_PASSWORD=neondb_secure_password_here
POSTGRES_SERVER=connection_string.aws.neon.tech
POSTGRES_PORT=5432
POSTGRES_DB=neondb

# JWT-Token Signature
SECRET_KEY=signature_key_secret_here
ALGORITHM=hashing_algorithm_here
ACCESS_TOKEN_EXPIRE=1440
