# Secrets
env/
.env
*.env

# Cache Files
__pycache__
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual Env
venv/
.venv/
.Python

# System & Editor Junk
.DS_Store
.vscode/
.idea/

# Config Files
.vscode/

# MisX
dump.txt
structure.txt
